<!DOCTYPE html>
<html lang="en_GB" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kalam:wght@300;400;700&family=Poiret+One&family=Shadows+Into+Light&family=Yuji+Boku&display=swap" rel="stylesheet">

        <title>Around the World travel planner</title>
    </head>

    <body>

        <header>
            <h1>Around the World travel planner</h1>
        </header>

        <main>

            <section class="bar">
                <div id="clock"></div>
                <div id="date"></div>
            </section>

            <section class="tripInfo">
                <form class="">
                    <div id="dates">
                        <label for="start">Start date:</label>
                        <input type="text" class="inputs" id="start">
                        <label for="end">End date:</label>
                        <input type="text" class="inputs" id="end">
                    </div>
                    <div id="tripLocation">
                        <input type="text" class="inputs" id="inputLocation" placeholder="Enter your destination">
                    </div>
                    <div id="formsubmit">
                        <input type="submit" class="btn" id="submitTrip" value="Submit">
                    </div>
                </form>
            </section>

            <div class="infos">

            <section class="extraInfo">
                <div id="hotel">
                    <button class="dropBtn" id="hotelBtn">+ Add hotel</button> 
                    <div id="hotelInfo">
                        <form id="hForm">
                            <label for="hName">Hotel: </label>
                            <input type="text" class="inputs" id="hName" placeholder="Hotel name">
                            <label for="hAddress">Address: </label>
                            <input type="text" class="inputs" id="hAddress" placeholder="Hotel address">
                            <label for="checkIn">Check In:</label>
                            <input type="date" class="inputs" id="hCheckInDate">
                            <input type="time" class="inputs" id="hCheckInTime">
                            <label for="checkOut">Check Out: </label>
                            <input type="date" class="inputs" id="hCheckOutDate">
                            <input type="time" class="inputs" id="hCheckOutTime">
                            <label for="hExtraInfo">Add extra information</label>
                            <textarea class="eInputs" id="hExtraInfo" placeholder="Add info..."></textarea>
                            <input type="button" class ="btn" id="hSubmit" value="Submit">
                        </form>
                    </div>
                </div>
                <div id="flight">
                    <button class="dropBtn" id="flightBtn">+ Add flight</button>
                    <div id="flightInfo">
                        <form id="fForm">
                            <h3>Outbound:</h3>
                            <label for="outFlight">Flight:</label>
                            <input type="text" class="inputs" id="outFlight" placeholder="E.g. Paris-London">
                            <label for="outDepDate">Departure:</label>
                            <input type="date" class="inputs" id="outDepDate">
                            <input type="time" class="inputs" id="outDepTime">
                            <label for="outArrDate">Arrival:</label>
                            <input type="date" class="inputs" id="outArrDate">
                            <input type="time" class="inputs" id="outArrTime">
                            <h3>Inbound:</h3>
                            <label for="inFlight">Flight:</label>
                            <input type="text" class="inputs" id="inFlight" placeholder="E.g. London-Paris">
                            <label for="inDepDate"></label>
                            <input type="date" class="inputs" id="inDepDate">
                            <input type="time" class="inputs" id="inDepTime">
                            <label for="inArrDate">Arrival:</label>
                            <input type="date" class="inputs" id="inArrDate">
                            <input type="time" class="inputs" id="inArrTime">
                            <label for="fExtraInfo">Add extra information</label>
                            <input type="text" class="eInputs" id="fExtraInfo" placeholder="Add info..">
                            <input type="button" class="btn" id="fSubmit" value="Submit">
                        </form>
                    </div>
                </div>
                <div id="packing">
                    <button class="dropBtn" id="packingBtn">+ Make a packing list</button>
                    
                    <div id="packingList">
                        <h3>Packing list</h3>
                        <h4>Add Item</h4>
                        <p>
                            <input id="new-task" type="text"><button id="packAddBtn">Add</button>
                        </p>

                        <h4>To pack</h4>
                        <ul id="incomplete-tasks">
                            <li>
                                <input type="checkbox">
                                <label>Passport</label>
                                <button class="delete">X</button>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Toothbrush</label>
                                <button class="delete">X</button>
                            </li>
                        </ul>

                        <h4 id="completeHeader">Completed</h4>
                        <ul id="completed-tasks">
                        </ul>
                    </div>
                </div>
            </section>

            <section class="displayData">
                <div id="destinationImage">
                    <div id="destination"></div>
                    <div id="cityImage"></div>
                </div>      
                <div id="duration"></div>
                <div id="countdown"></div>
                <div id="length"></div>
                <div id="weather">
                    <h4 id="wHeader"></h4>
                    <div class="divHead">
                        <div id="weatherIcon"></div>
                        <div id="forecast"></div>
                    </div>
                </div>
                <div id="countryData"></div>
                <div id="flightData"></div>
                <div id="hotelData"></div>
            </section>

            </div>
            <section class="oldTrips">

            </section>

        </main>

        <footer>
            <hr>
            <div id="footsie">
                <div id="usedData">
                    <p>Used APIs:</p>
                    <a href="https://www.geonames.org">GeoNames</a>
                    <a href="https://pixabay.com/">
                            <img src="https://pixabay.com/static/img/public/medium_rectangle_b.png" alt="Pixabay">
                        </a>
                </div>
                <div id="copyright">
                    <p>Copyright (c) 2021 Vildsee  ☽⭘☾</p>
                </div>
            </div>
        </footer>
        <script src="../../../node_modules/pikaday/pikaday.js"></script>
        <script>
            var startDate,
        endDate,
        updateStartDate = function() {
            startPicker.setStartRange(startDate);
            endPicker.setStartRange(startDate);
            endPicker.setMinDate(startDate);
        },
        updateEndDate = function() {
            startPicker.setEndRange(endDate);
            startPicker.setMaxDate(endDate);
            endPicker.setEndRange(endDate);
        },
        startPicker = new Pikaday({
            field: document.getElementById('start'),
            minDate: new Date(),
            maxDate: new Date(2030, 12, 31),
            onSelect: function() {
                
                startDate = this.getDate();
                updateStartDate();
                
            }
        }),
        endPicker = new Pikaday({
            field: document.getElementById('end'),
            minDate: new Date(),
            maxDate: new Date(2030, 12, 31),
            onSelect: function() {
                endDate = this.getDate();
                updateEndDate();
            }
        }),
        _startDate = startPicker.getDate(),
        _endDate = endPicker.getDate();

        if (_startDate) {
            startDate = _startDate;
            updateStartDate();
        }

        if (_endDate) {
            endDate = _endDate;
            updateEndDate();
        }
        </script>
    </body>
</html>