@import "../../../node_modules/pikaday/scss/pikaday.scss";
@import 'media.scss';

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fffceb;
    max-width: 700px;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.1em;
    background: url('../media/background.jpeg') no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    overflow-y: overlay;
}

section {
  background-color: rgba(255, 252, 235, 0.5);
}

input, button {
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(255, 252, 235, 0.8);
}

button:hover {
    background: rgb(187, 240, 250, 0.8);
}

.btn:hover {
    background: rgb(187, 240, 250, 0.8);
}

.infos {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "info display";
}

.btn, .dropBtn {
    cursor: pointer;
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
}

.inputs, .eInputs, .listInput {
    font-family: 'Poiret One', serif;
    // font-weight: bold;
    font-size: 0.9em;
    border-radius: 15px;
    color: #333;
}

.inputs {
    cursor: pointer;
    text-align: center;
}

#start, #end {
    padding: 8px 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 1em;
    width: 60%;
}

#dates {
    display: flex;
    justify-content: space-around;
}

#startbox, #endbox {
    display: flex;
}

#inputLocation {
    padding: 10px 12px;
    font-size: 1em;
}

.bar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;

    #date, #clock {
        font-size: 26px;
        padding: 2px 15px 0 15px;
    }
}

.tripInfo {
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    
    label {
        font-size: 22px;
    }
}

.displayData {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Amatic SC';
    font-size: 1.6em;
    border: 2px solid grey;
    border-radius: 10px;

    hr {
        justify-content: center;
        max-width: 200px;
    }
    
    #destination {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }

    #cityImage {
        img{
            border-radius: 10px;
            border: 2px solid rgb(235, 235, 235);
        }
    }

    #weatherIcon img {
        width: 60px;
        padding: 10px 5px 0 0;
        margin: 0;
    }

    #weather {
        h4 {
            margin: 0;
        }
    }

    #flightData, #hotelData {
        text-align: center;
    }

    .divHead {
        display: flex;
    }
}

.oldTrips {
    display: none;
    margin-top: 10px;
    padding: 10px;
}
