footer {

    #footsie {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75em;
    }

    hr {
        width: 75%;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 50px;
    }

}